body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.header {
	background-color: #f54248; /* Set your desired background color */
	color: #ffffff; /* Set your desired text color */
	padding: 50px;
	text-align: center;
	font-size: 70px;
	font-family: "Roboto", serif;
}

.navbar {
	background-color: white; /* Set your desired background color */
	overflow: hidden;
	border-radius: 5px; /* Add rounded border */
	border: 5px solid black;
	position: fixed; /* Set position to fixed */
	width: 100%; /* Make it full width */
	top: 0; /* Stick to the top */
	z-index: 100; /* Set a high z-index to make sure it's on top of other elements */
}

.navbar a {
	float: left;
	display: block;
	color: #f54248; /* Set your desired text color */
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: #ddd; /* Set your desired hover background color */
	color: black; /* Set your desired hover text color */
}
.littleback {
	background-color: #f54248;
}
.oranienbaum-regular {
	font-family: "Oranienbaum", serif;
	font-weight: 400;
	font-style: normal;
}
 {
}
